<!DOCTYPE html>
<html lang="en">

<head>
  <title>FOOD</title>
  <style>
#main {
  background-color:#ffffff;
}
  </style>
</head>

<body Bgcolor="E0D8E0">
  <center>
    {% block title %}
    <h1><font color = "red">FOOD</font></h1>
    {% endblock title %} 
  </center>
  <center>
    <div>
      <fieldset>
      <legend>Dietary Restrictions:</legend>
      <input type="checkbox" name="diet" value="Vegetarian">Vegetarian<br>
      <input type="checkbox" name="diet" value="Vegan">Vegan<br>
      <input type="checkbox" name="diet" value="GlutenFree">Gluten Free<br>
      <input type="checkbox" name="diet" value="LactoseFree">Lactose Free<br>
      <input type="button" name="submit" value="Submit">
      <!--<input type="checkbox" name="diet" value=""><br>-->
      </fieldset>
    </div>
  </center>
  <br>

  <center>
    <div class="pure-u-22-24" id = "main">
    <br>
    {% block bodycontent %}
    Food:
    {% for food in foods %}
    <img src="{{food}}"></img>
    {% endfor %}
    <br><br>
    {{attribution|safe}}
    {% endblock bodycontent %}
    </div>
  </center>
  <br>
</body>
</html>
